html {
  font-family: 'Comforter', cursive;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  background-image: url('./forest.jpg');
  background-repeat: repeat;
  background-size: cover;
}
body {
  width: 80vh, 80vw;
}
img {
  height: 8em;
  width: 10em;
}
#box-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.5em;
}
@media (max-width: 767px) {
  #box-container {
    display: grid;
    grid-template-columns: auto;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  html {
    font-size: xx-large;
  }
}
.text-blue {
  color: rgb(124, 245, 245);
}
.text-pink {
  color: rgb(237, 158, 202);
}
.last-div {
  padding-bottom: 150px;
}
.caveat-font {
  font-family: 'Caveat', cursive;
}
a {
  text-decoration: none;
}
a {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
  background-size: 0 3px, 100% 3px;
}
.text-yellow {
  color: rgb(228, 245, 3);
}
.text-green {
  color: rgb(61, 230, 112);
}
.text-white {
  color: white;
}
div {
  padding: 2em;
}
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0.5%;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
