html {
  font-family: 'Comforter', cursive;
  font-size: larger;
  text-align: center;
  background-image: url('./tree.jpg');
  background-repeat: repeat;
}
body {
  width: 80vh, 80vw;
}
img {
  height: 8em;
  width: 10em;
}
#box-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.5em;
}
@media (max-width: 767px) {
  #box-container {
    display: grid;
    grid-template-columns: auto;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  html {
    font-size: xx-large;
  }
}
.text-blue {
  color: rgb(124, 245, 245);
}
.text-pink {
  color: rgb(237, 158, 202);
}
.last-div {
  padding-bottom: 150px;
}
.caveat-font {
  font-family: 'Caveat', cursive;
}
a {
  text-decoration: none;
}
a {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
  background-size: 0 3px, 100% 3px;
}
.text-yellow {
  color: rgb(228, 245, 3);
}
.text-green {
  color: rgb(61, 230, 112);
}
div {
  padding: 2em;
}
